#main-text{
    
    font-size: 40px;
    padding: 80px;
    color: #fff;
    text-align: center;
}

#difficulty{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

button{
	width: 80vw;
	margin: 20px;
}


#versuri{
	border:2px solid #fff;
	width: 50vw;
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 22px;
	line-height: 35px;

}

#raspunsuri{
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column; 
}

input[type=text]{
	color:#fff;
	border:none;
	border-bottom: 2px solid #fff;
    background-color: transparent;
    width: 40vw;
    text-align: center;
	padding: 10px;
	font-size: 25px;
	margin: 20px;
}

input[type=text]::placeholder{
	color: #fff;
}


#good-ans, #wrong-ans, #time-out{
    padding: 80px 20px;
	text-align: center;
	display: block;
	height: 100vh;
	font-size: 50px;
	background-color: transparent;
	color:#fff;
}

#good-ans button, #wrong-ans button, #time-out button {
	margin: 60px;
	letter-spacing: 1px;
}

.ans-cnt{
	display: flex;
	justify-content: center;
	align-items: center;
}

#ans, #ans-time-out{
	text-align: left;
	font-size: 20px;
	padding: 50px 0;

}

@media screen and (max-width: 650px){
	#main-text{
		padding: 60px 20px;
	}

	#wrong-ans, #time-out{
		padding: 50px 20px;
		font-size: 30px;
	}

	#versuri{
		width: 80vw;
		padding: 20px;
	}

	input[type=text]{
		width: 70vw;
	}
	#good-ans button, #wrong-ans button, #time-out button{
		margin: 25px;
	}
}
