#main-text{
    
    font-size: 40px;
    padding: 80px;
    color: #fff;
    text-align: center;
}

#difficulty{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

button{
	width: 80vw;
	margin: 20px;
}


#versuri{
	border:2px solid #fff;
	width: 50vw;
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 22px;
	line-height: 35px;

}

#raspunsuri{
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column; 
}

input[type=text]{
	color:#fff;
	border:none;
	border-bottom: 2px solid #fff;
    background-color: transparent;
    width: 40vw;
    text-align: center;
	padding: 10px;
	font-size: 25px;
	margin: 20px;
}

input[type=text]::placeholder{
	color: #fff;
}


#good-ans, #wrong-ans, #time-out{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 60px;
	background-color: transparent;
	color:#fff;
}

#ans, #ans-time-out{
	font-size: 20px;
	padding: 50px;

}


