#opera{

	font-size: 40px;
    padding: 80px;
    color: #fff;
    text-align: center;
    padding-bottom: 0;
}

#autor{
	color: #fff;
	padding: 20px;
	text-align: center;
}

#versuri{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60vw;
	border-radius: 20px;
	text-align: center;
}

button{
	width: 300px;
}